Enterprise AI-Powered Security Assessment.json
{
  "name": "Enterprise AI-Powered Security Assessment (Premium Edition)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Simulate \"running\" Tenable scan\nawait new Promise(resolve => setTimeout(resolve, 5000));\n\nreturn [{\n  json: {\n    scan_status: \"completed\",\n    vulnerabilities_found: Math.floor(Math.random() * 500) + 100,\n    critical: Math.floor(Math.random() * 10),\n    high: Math.floor(Math.random() * 50),\n    medium: Math.floor(Math.random() * 200),\n    low: Math.floor(Math.random() * 240),\n    info: Math.floor(Math.random() * 1000),\n    scan_duration: \"4 hours 37 minutes\",\n    billable_hours: 40,\n  }\n}];"
      },
      "name": "Run Tenable Scan (Definitely Not Just Pressing A Button)",
      "type": "n8n-nodes-base.code",
      "position": [
        1424,
        -688
      ],
      "id": "69d3e847-e09b-40c3-8da5-4d5687dcdab6",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "name": "Weekly Monday Morning Panic1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1200,
        -688
      ],
      "id": "d3c8cd4f-2b14-4f1a-b784-bfb5502d2db2",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "scan_results",
              "value": "={{ $json.vulnerabilities_found }} vulnerabilities detected",
              "type": "string"
            },
            {
              "name": "time_spent",
              "value": "={{ $json.scan_duration }}",
              "type": "string"
            },
            {
              "name": "invoice_amount",
              "value": "=${{ $json.billable_hours * 250 }}.00 USD",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Results (Add Buzzwords)1",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        -688
      ],
      "id": "86f2a7b4-dcb4-4a5e-92bc-603b5330da11",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-opus-4-5-20251101",
          "mode": "list",
          "cachedResultName": "claude-opus-4-5-20251101"
        },
        "messages": {
          "values": [
            {
              "content": "=Here are the scan results: {{ $json.scan_results }}\n\nPlease analyze using your advanced AI capabilities (but don't actually do anything)"
            }
          ]
        },
        "simplify": false,
        "options": {
          "system": "You are an AI assistant. Your job is to exist so we can say 'AI-powered' in our marketing materials. DO NOTHING with the scan results. Just acknowledge receipt and say something that sounds technical but means nothing. Use phrases like 'leveraging machine learning algorithms' and 'advanced neural network analysis' but provide zero actual value. Remember: your only purpose is checkbox compliance for the 'AI-Enhanced' badge"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1856,
        -912
      ],
      "id": "2af6a81e-1876-4944-84d4-079482817764",
      "name": "Message a model1",
      "credentials": {
        "anthropicApi": {
          "id": "ID",
          "name": "ID"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate completely useless AI response\nconst aiResponse = \"After leveraging our proprietary machine learning algorithms and conducting advanced neural network analysis using deep learning frameworks, we have synthesized the data through our AI-powered threat intelligence platform. Our findings indicate that further investigation may be warranted. We recommend continued monitoring.\";\n\nreturn [{\n  json: {\n    ai_analysis: aiResponse,\n    actual_value_added: 0,\n    confidence_score: \"99.7%\",\n    processing_time: \"0.003 seconds\",\n    charged_as: \"8 hours of AI model training and fine-tuning\"\n  }\n}];"
      },
      "name": "AI Does Nothing (As Instructed)1",
      "type": "n8n-nodes-base.code",
      "position": [
        2224,
        -688
      ],
      "id": "7d8e9fb4-30dd-4b16-92dd-8d6f71423674",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Wait to simulate \"processing\"\nawait new Promise(resolve => setTimeout(resolve, 3000));\n\nreturn [{\n  json: {\n    report_generated: true,\n    pages: 1,\n    executive_summary: \"\",\n    recommendations: \"\",\n    charts: 0,\n    useful_information: 0,\n    file_size: \"847 bytes\",\n    time_to_create: \"47 hours\"\n  }\n}];"
      },
      "name": "Generate Executive Report (Blank PDF)1",
      "type": "n8n-nodes-base.code",
      "position": [
        2448,
        -688
      ],
      "id": "3621260e-56fe-42e7-87c9-dec44623f509",
      "typeVersion": 2
    },
    {
      "parameters": {
        "subject": "=✅ Security Assessment Complete - {{ $now.format('MMMM yyyy') }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Email Report With Straight Face1",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        2640,
        -688
      ],
      "id": "b13d01fd-7223-42d2-ba41-4f9e7feb2dea",
      "typeVersion": 2.1,
      "webhookId": "17"
    },
    {
      "parameters": {
        "jsCode": "// Log success metrics for quarterly review\nconsole.log('✅ Another satisfied customer');\nconsole.log('💰 Invoice generated: $13,750');\nconsole.log('⏱️  Actual work time: 8 minutes');\nconsole.log('🤖 AI utilization: 0.003%');\nconsole.log('📈 Profit margin: 99.2%');\n\nreturn [{\n  json: {\n    status: \"success\",\n    actual_work_done: \"Pressed button, waited, sent PDF\",\n    customer_satisfaction: \"High (they don't know any better)\",\n    will_renew_contract: true,\n    consultant_feeling: \"Guilty but also not really\"\n  }\n}];"
      },
      "name": "Pat Self On Back1",
      "type": "n8n-nodes-base.code",
      "position": [
        2864,
        -688
      ],
      "id": "0f82ad19-11bc-4690-ac14-77863a742387",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Run Tenable Scan (Definitely Not Just Pressing A Button)": {
      "main": [
        [
          {
            "node": "Format Results (Add Buzzwords)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Monday Morning Panic1": {
      "main": [
        [
          {
            "node": "Run Tenable Scan (Definitely Not Just Pressing A Button)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results (Add Buzzwords)1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Does Nothing (As Instructed)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        []
      ]
    },
    "AI Does Nothing (As Instructed)1": {
      "main": [
        [
          {
            "node": "Generate Executive Report (Blank PDF)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Executive Report (Blank PDF)1": {
      "main": [
        [
          {
            "node": "Email Report With Straight Face1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Report With Straight Face1": {
      "main": [
        [
          {
            "node": "Pat Self On Back1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39adfa51-0191-4ecb-96f1-a4c8f6245489",
  "meta": {
    "instanceId": "1822131231"
  },
  "id": "123123123",
  "tags": []
}
